openapi: 3.0.9

info:
  title: "Pierrot OpenAPI Trial"
  version: "0.0.1"
  description: |
     "Using this OpenAPI specification, any consumer an understand the APIs that are expoesed by App"
  termsOfService: https://eazyshop.com/terms
  contact:
    name: API Support
    url: https://www.eazyshop.com/support
    email: "support@eazyshop.com"
  license:
    name: EazyShop 2.0
    url: https://www.eazyshop.com/license/LICENSE-2.0.html
servers:
 - url: https://development.eazyshop-server.com/
   description: Development Server
 - url: https://staging.eazyshop-server.com/v1
   description: Staging server
 - url: https://api.eazyshop-server.com/v1
   description: Production server
 - url: https//{username}.eazyshop-server.com/{version}
   variables:
     username:
       default: demo
       description: This value is assigned by the service provider
     port:
       enum:
         - "8443"
         - "443"
       default: "8443"
     version:
       default: v1
paths:
  /categories:
    get:
      summary: List all categories
      description: Returns the list of all categories supported by EazyShop
      parameters: 
        - name: categoryID
          in: query
          schema:
            type: integer
            minimum: 100
            maximum: 1000
            example: 101
      responses:
        '200':
           description: a list of categories
           content:
             application/json:
                schema:
                  type: array
                  items:
                    type: object
                    properties:
                      categoryID:
                        type: integer
                      name:
                        type: string

