openapi: 3.0.9

info:
  title: "Pierrot OpenAPI Trial"
  version: "0.0.1"
  description: |
    "Using this OpenAPI specification, any consumer an understand the APIs that are expoesed by App"
  termsOfService: https://eazyshop.com/terms
  contact:
    name: API Support
    url: https://www.eazyshop.com/support
    email: "support@eazyshop.com"
  license:
    name: EazyShop 2.0
    url: https://www.eazyshop.com/license/LICENSE-2.0.html
servers:
  - url: https://development.eazyshop-server.com/
    description: Development Server
  - url: https://staging.eazyshop-server.com/v1
    description: Staging server
  - url: https://api.eazyshop-server.com/v1
    description: Production server
  - url: https//{username}.eazyshop-server.com/{version}
    variables:
      username:
        default: demo
        description: This value is assigned by the service provider
      port:
        enum:
          - "8443"
          - "443"
        default: "8443"
      version:
        default: v1
paths:
  /categories:
    get:
      summary: List all categories
      description: Returns the list of all categories supported by EazyShop
      parameters:
        - name: categoryID
          in: query
          schema:
            type: integer
            minimum: 100
            maximum: 1000
            example: 101
      responses:
        '200':
          description: a list of categories
          content:
            application/json:
              schema:
                type: array
                items:
                  type: object
                  properties:
                    categoryID:
                      type: integer
                    name:
                      type: string

  /categories/{categoryID}:
    get:
      summary: List a category by ID
      description: Returns a category related to the category Id
      parameters:
        - name: categoryID
          in: path
          schema:
            type: integer
            minimum: 100
            maximum: 1000
            example: 101
          required: true
      responses:
        '200' :
          description: a category
          content:
            application/json:
              schema:
                type: object
                properties:
                  categoryID:
                    type: integer
                  name:
                    type: string

  /products:
    get:
      summary: List all products
      description: Returns the list of all products supported by EazyShop
      parameters:
        - name: productID
          in: query
          schema:
            type: integer
            minimum: 100
            maximum: 1000
            example: 101
      responses:
        '200':
          description: A list of products
          content:
            application/json:
              schema:
                type: array
                items:
                  type: object
                  properties:
                    productsID:
                      type: integer
                    name:
                      type: string
                    price:
                      type: number
                    categoryName:
                      type: string
                    quantity:
                      type: integer

  /products/{productID}:
    get:
      summary: List a product by ID
      description: Returns a product related to the products Id
      parameters:
        - name: productID
          in: path
          schema:
            type: integer
            minimum: 100
            maximum: 1000
            example: 101
          required: true
      responses:
        '200' :
          description: a products
          content:
            application/json:
              schema:
                type: object
                properties:
                  productsID:
                    type: integer
                  name:
                    type: string
                  price:
                    type: number
                  categoryName:
                    type: string
                  quantity:
                    type: integer
                    
  /orders:
    post:
      summary: Create Order
      description: |
        Post order details to EazyShop for processing and shipping
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                products:
                  type: array
                  items:
                    type: object
                    properties:
                      productID: 
                        type: integer
                      name:
                        type: string
                      price:
                        type: number
                      categoryName:
                        type: string
                      quantity:
                        type: integer
                address:
                  type: object
                  properties:
                    addressLine:
                      type: string
                    city:
                      type: string
        
      responses:
        '201' :
          description: "Order successfully created!"
          content:
            application/json:
              schema:
                type: object
                properties:
                  orderID:
                    type: integer
                    
    put:
      summary: Update Order
      description: |
        Update order details to EazyShop for processing and shipping
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                orderID:
                  type: integer
                products:
                  type: array
                  items:
                    type: object
                    properties:
                      productID:
                        type: integer
                      name:
                        type: string
                      price:
                        type: number
                      categoryName:
                        type: string
                      quantity:
                        type: integer
                address:
                  type: object
                  properties:
                    addressLine:
                      type: string
                    city:
                      type: string

      responses:
        '200' :
          description: "Order details successfully updated!"

    delete:
      summary: Delete Order
      description: Delete order details from EazyShop
      parameters:
        - name: orderID
          in: query
          required: true
          schema:
            type: integer

      responses:
        '204' :
          description: "Order details successfully deleted!"

